<launch>
  <rosparam file="$(find cougarbot_gazebo)/controllers.yaml" command="load"/>
  <!-- Load the CougarBot URDF model into the parameter server -->
  <param name="robot_description" textfile="$(find cougarbot_gazebo)/cougarbot.urdf" />
  <!-- Start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <!-- Spawn a CougarBot in Gazebo, taking the description from the parameter server -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model cougarbot" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller"/>

  <!--<node name="motion_control_acceleration" pkg="cougarbot_gazebo" type="motion_control_acceleration.py" output="screen"/>-->
  <node name="motion_control_torque" pkg="cougarbot_gazebo" type="motion_control_torque.py" output="screen"/>
</launch>
